.ScrollTrain {
  letter-spacing: 5px;
}

.menu-item {
user-select: none;
border: none;
pointer-events: none;
height: 50px;
}

.menu-item.active {
border-top: 1px #f00 solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
